@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@font-face {
    font-family: "PrintChar21";
    src: url("./assets/fonts/PrintChar21.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "PrintChar21";
    /*  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif */
    letter-spacing: -2.4px; /* important */
    line-height: 1.5;
    font-weight: 400;

    color: #fefefe;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* background */
.bg-card-1 {
    background-image: url("./assets/svgs/BgCard1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.bg-card-2 {
    background-image: url("./assets/svgs/BgCard2.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-card-3 {
    background-image: url("./assets/svgs/BgCard3.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-card-4 {
    background-image: url("./assets/svgs/BgCard4.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-card-5 {
    background-image: url("./assets/svgs/BgCard5.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.my-button-wraper {
}

.my-button {
    width: 90%;
    height: 90%;
    background-color: bisque;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
    color: white;
    position: relative;
    border-radius: 4px;
    /* clip-path: polygon(100% 0, 100% 55%, 79% 100%, 0 100%, 0 0); */
}

.my-button::before {
    content: "Button";
    position: absolute;
    top: -15px;
    left: -10px;
    background-color: black;
    border-radius: 4px;
    border-radius: 4px;
    width: calc(100% + 6px);
    height: calc(100% + 10px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    font-weight: bold;
    clip-path: polygon(26% 0, 100% 0, 100% 64%, 81% 100%, 0 100%, 0 31%);
}

.my-button:hover::before {
    top: 0;
    left: 0;
}

.parent {
    width: 200px;
    height: 80px;
    position: relative;
    /* clip-path: polygon(26% 0, 100% 0, 100% 64%, 81% 100%, 0 100%, 0 31%); */
}

.child1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #fbe94e;
    clip-path: polygon(26% 0, 100% 0, 100% 64%, 81% 100%, 0 100%, 0 31%);
    z-index: 40;
}
.child3 {
    width: 96%;
    height: 98%;
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: #242424;
    clip-path: polygon(26% 0, 100% 0, 100% 64%, 81% 100%, 0 100%, 0 31%);
    z-index: 10;
}

.child2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fbe94e;
    clip-path: polygon(26% 0, 100% 0, 100% 64%, 81% 100%, 0 100%, 0 31%);
}
