@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .absolute-top {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .clip-path-1 {
        clip-path: polygon(8% 0, 100% 0, 100% 65%, 92% 100%, 0 100%, 0 35%);
    }
    .clip-path-2 {
        clip-path: polygon(4% 0, 100% 0, 100% 65%, 96% 100%, 0 100%, 0 35%);
    }
    .clip-path-3 {
        clip-path: polygon(2% 0, 100% 0, 100% 65%, 98% 100%, 0 100%, 0 35%);
    }
}

@font-face {
    font-family: "PrintChar21";
    src: url("./assets/fonts/PrintChar21.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #ffe804;
    --background-color: #161611;

    font-family: "PrintChar21";
    /*  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif */
    letter-spacing: -2.4px; /* important */
    line-height: 1.5;
    font-weight: 400;

    color: #fefefe;
    // background-color: #242424;
    // background-image: url("./assets/svgs/StartBackground.svg");

    background: url("./assets/background/StartBackground.svg") repeat-y center/contain,
        var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    // min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

/* —————————————————————————————————————————————— theme ———————————————————————————————————————— */

/* —————————————————————————————————————————————— custom ———————————————————————————————————————— */
.parent {
    .child1 {
        color: var(--background-color);
        position: absolute;
        top: -5px;
        left: -5px;
        // clip-path: polygon(8% 0, 100% 0, 100% 65%, 92% 100%, 0 100%, 0 35%);
        // top-left, top-right, bottom-right, bottom-left
        transition: 0.05s ease-in-out;
        z-index: 40;
    }

    .child1:hover {
        top: 1px;
        left: 1px;
    }

    .child2 {
        background-color: var(--primary-color);
        opacity: 0.6;
        padding: 1px;
        // clip-path: polygon(8% 0, 100% 0, 100% 65%, 92% 100%, 0 100%, 0 35%);

        .grandchild {
            background-color: var(--background-color);
            // clip-path: polygon(8% 0, 100% 0, 100% 65%, 92% 100%, 0 100%, 0 35%);
        }
    }
}
/* —————————————————————————————————————————————— antd ———————————————————————————————————————— */
.antd-costom {
    .ant-statistic {
        .ant-statistic-content {
            font-size: 14px;
        }
    }

    // tabel summary
    .ant-table-summary {
        .ant-table-cell {
            border: none !important;
        }
    }
}
