@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@font-face {
    font-family: "PrintChar21";
    src: url("./assets/fonts/PrintChar21.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "PrintChar21";
    /*  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif */
    letter-spacing: -2.4px; /* important */
    line-height: 1.5;
    font-weight: 400;

    color: #fefefe;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
